<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="csses">
        <meta charset="utf-8"/>
        <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="keywords" content="H-ui.admin datatables demo"/>
        <meta name="description" content="H-ui.admin datatables demo"/>
        <LINK rel="Bookmark" href="/favicon.ico" />
        <LINK rel="Shortcut Icon" href="/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/plugins/h-ui/2.3.5/css/H-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="/plugins/h-ui/admin/2.5/css/H-ui.admin.css" />
        <link rel="stylesheet" type="text/css" href="/plugins/h-ui/iconfont/1.0.8/iconfont.css" />
        <link rel="stylesheet" type="text/css" href="/plugins/icheck/icheck.css" />
        <link rel="stylesheet" type="text/css" href="/plugins/h-ui/admin/2.5/skin/default/skin.css" id="skin" />
        <link rel="stylesheet" type="text/css" href="/plugins/h-ui/admin/2.5/css/style.css" />
        <style type="text/css">
            .table-sort tbody tr td {text-align: center;}
        </style>
    </head>
</html>