<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<link type="text/css" th:substituteby="common/csslibs :: csses" />
	<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray">
		<span class="l">
			<a href="javascript:;" id="batch_delete" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			<a href="javascript:;" onclick="layer_show('添加用户','/page/member/member-add', window.outerWidth*0.5, window.outerHeight*0.7)" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a>
		</span>
		<form id="member_search_form" onsubmit="return false;" class="text-c r">
			<span>日期范围：</span>
			<input type="text" class="input-text radius Wdate" readonly="readonly" autocomplete="off" name="startTime" id="startTime" style="width:165px;"
				   onfocus="WdatePicker({maxDate: '#F{$dp.$D(\'endTime\')}', minDate: '%y-%M-%d', dateFmt: 'yyyy-MM-dd HH:mm:ss'})" /> -
			<input type="text" class="input-text radius Wdate" readonly="readonly" autocomplete="off" id="endTime" name="endTime" style="width:165px;"
				   onfocus="WdatePicker({minDate: '#F{$dp.$D(\'startTime\')||\'%y-%M-%d\'}', dateFmt: 'yyyy-MM-dd HH:mm:ss'})" />
			<input type="text" class="input-text radius" style="width:120px" placeholder="用户姓名、部门" name="username"/>
			<select class="select input-text size-M radius" name="roleId" style="width:90px;font-size: 12px">
				<option value="-1">全部</option>
				<option value="1">超级管理员</option>
				<option value="2">管理员</option>
				<option value="3">普通用户</option>
				<option value="4">访客</option>
			</select>
			<button type="submit" class="btn btn-success radius" onclick="dataTableExtend.reload()"><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
			<button class="btn btn-primary radius" onclick="$(this).parent()[0].reset();$(this).prev().click();"><i class="Hui-iconfont">&#xe665;</i> 重置</button>
		</form>
	</div>
	<div class="mt-20">
		<table id="member_list" class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25">序号</th>
					<th width="100">用户名</th>
					<th width="100">密码</th>
					<th width="90">姓名</th>
					<th width="150">所属部门</th>
					<th width="200">角色</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
<script type="text/javascript" th:substituteby="common/jslibs :: jses"></script>
<script type="text/javascript" src="/extend/datatables/extend.js"></script>
<script type="text/javascript">
//<![CDATA[
	$(function () {
		var tableId = "member_list";
		var	ajaxUrl = "/user/datatable";
		var	searchFormId = "member_search_form";
		var	columns = [
					{data: 'id', orderable: false, searchable: false, render: function (){
						return  dataTableExtend.rowIndex++;
					}},
					{data: 'username', orderable: false},
					{data: 'password', orderable: false, searchable: false},
					{data: 'name', orderable: false},
					{data: 'dept.name', orderable: false},
					{data: 'roles', orderable: false, searchable: false, render: function (data) {
						var html = "";
						if(data.length > 0){
							data.forEach(function (o) {
								html += o.name+"、";
							});
							html = html.substring(0, html.length-1);
						}
						return html;
					}},
					{data: 'id', orderable: false, searchable: false, render: function(data) {
						return '<input type="button" value="编辑" class="btn btn-secondary radius size-S" onclick="layer_show(\'用户编辑\', \'edit/'+data+'\', window.outerWidth*0.85, window.outerHeight*0.75);"/>'
								+'<input type="button" value="删除" class="btn btn-danger radius size-S ml-10" onclick="remove_user('+data+')"/>';
					}}
				];
		dataTableExtend.init(tableId, columns, ajaxUrl, searchFormId);
		$('.table-sort tbody').on('click', 'tr', function () {
			$(this).toggleClass('selected');
		});
	});

	/*用户-删除*/
	function remove_user(id){
		layer.confirm('确认要删除吗？',function(index){
			console.info("userId", id);
			layer.msg('已停用!',{icon: 5,time:1000});
		});
	}

	// 批量删除
	$("#batch_delete").click(function () {
		console.info("批量删除..............");
	}).hover(function(){
		tipIndex = layer.tips('批量删除选中的用户', this, {tips: [1, '#393D49'], time: 0});
	},function(){
		layer.close(tipIndex);
	});
	var tipIndex;
//]]>
</script>
</body>
</html>